<!DOCTYPE html>
<html>
  <head>
    <% include headerincludes %>
  </head>
  <body>
  	<% include header %>
	<p><%= message %></p>
	<p><%= error.status %></p>
	<pre><%= error.stack %></pre>
  </body>
</html>