<!DOCTYPE html>
<html>
  <head>
    <% include headerincludes %>
  </head>
  <body>
      <% include header %>
      <div class="box">
        <br>
        <form name="signup" action="/signup" method="get" class="element">
	          <p> If you are a new User? </p>        
            <input type="submit" value="Sign Up" class="button-view">
        </form>
        <br>
        <br>
        <form name="login" action="/login" method="get" class="element">
	         <p> If you are a registered User? </p>        
            <input type="submit" value="Login" class="button-view">
        </form>
      </div>
  </body>
</html>
